
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #82e89a;
}

h1 {
    margin: 50px;
    font-family: "pacifico", cursive;
    font-size: 60px
}

/* me ocultara el icono de basurero por defecrto */
.eliminar-btn {
    visibility: hidden;
    transition: visibility 0.2s;
}

/* aqui si me mostrara el icono de basurero cuando pase el cursor por la tarea */
.tarea-item:hover .eliminar-btn {
    visibility: visible;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    box-shadow: black;
    font-family: "pacifico", cursive;
}


.tarea-item {
    animation: fadeInSlide 0.3s ease-in-out;
    transition: background-color 0.3s;
}

.tarea-item:hover {
    background-color: #e7f1ff;
}


.tarea-item:hover .eliminar-btn {
    visibility: visible;
    opacity: 1;
}
